
<body>
<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Modifier mot de passe</h3>

      <p>Entrer votre email pour modifier le mot de passe</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Adress Email" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Modifier mot de passe" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    

  </div>
</div>

</body>
