<div class="row layout-top-spacing" id="cancel-row">
                
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <div class="table-responsive mb-4 mt-4">
                <a href="/ajouter-chauffeur" class="btn btn-primary">Ajouter</a>
                <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Cévilité</th>
                           
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chauffeur of chauffeurs">
                            <th *ngIf="chauffeur.grade == 'chauffeur'" scope="row">{{chauffeur.nom}}</th>
                            <th *ngIf="chauffeur.grade == 'chauffeur'" scope="row">{{chauffeur.prenom}}</th>
                            <th *ngIf="chauffeur.grade == 'chauffeur'" scope="row">{{chauffeur.email}}</th>
                            <th *ngIf="chauffeur.grade == 'chauffeur'" scope="row">{{chauffeur.tel}}</th>
                            <th *ngIf="chauffeur.grade == 'chauffeur'" scope="row">{{chauffeur.civilite}}</th>

                            <td *ngIf="chauffeur.grade == 'chauffeur'">
                                <button class="btn btn-danger" (click)="bloquer(chauffeur.id)">Bloquer</button>
                                <button class="btn btn-success" (click)="debloquer(chauffeur.id)">Débloquer</button>
                                <button class="btn btn-primary" (click)="details(chauffeur)">Details</button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
