<div class="row layout-top-spacing" id="cancel-row">
                
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <div class="table-responsive mb-4 mt-4">
               
                      
                        
                       <label>Nom:</label>
                            {{chauffeur.nom}}<br>
                            <label>prenom:</label>

                            {{chauffeur.prenom}}<br>
                            <label>Email:</label>

                            {{chauffeur.email}}<br>
                            <label>Téléphone:</label>

                            {{chauffeur.tel}}<br>
                            <label>civilite:</label>

                            {{chauffeur.civilite}}<br>
                            <label>matricule:</label>


                            {{louage.matricule}}<br>
                            <label>Nombre des places:</label>

                            {{louage.nb_places}}<br>
                            <label>marque:</label>

                            {{louage.marque}}<br>
                            <label>Etat:</label>

                            {{louage.etat}}<br>
                            <label>kilometrage:</label>

                            {{louage.kilometrage}}<br>
                            <label>ligne:</label>

                            {{trajet.ligne}}<br>
                            <label>point_depart:</label>

                            {{trajet.point_depart}}<br>
                            <label>point_arrive:</label>

                            {{trajet. point_arrive}}<br>
                        
            </div>
        </div>
    </div>

</div>