<div class="container-fluid">
    <div class="block-header">
    </div>
    <!-- Basic Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <small>Liste des passagers</small>
                    </h2>
                  
                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Telephone</th>
                                <th>Civilité</th>
                                <th>Action</th>
                        

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let passager of passagers">
                                <th *ngIf="passager.grade == 'passager'" scope="row">{{passager.nom}}</th>
                                <th *ngIf="passager.grade == 'passager'" scope="row">{{passager.prenom}}</th>
                                <th *ngIf="passager.grade == 'passager'" scope="row">{{passager.email}}</th>
                                <th *ngIf="passager.grade == 'passager'" scope="row">{{passager.tel}}</th>
                                <th *ngIf="passager.grade == 'passager'" scope="row">{{passager.civilite}}</th>
                                <td *ngIf="passager.grade == 'passager'">
                                    <button class="btn btn-danger" (click)="bloquer(passager.id)">Bloquer</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Telephone</th>
                                <th>Civilité</th>
                        <th>Action</th>

                            </tr>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Basic Table -->
    <!-- Striped Rows -->
   
</div>
